name: Build Python executable on Windows

on:
  push:
    branches:
      - build

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.8'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyinstaller
        pip install playwright
        pip install playwright-stealth
        playwright install
        
    - name: Build executable
      run: pyinstaller --onefile --hidden-import=playwright.main --hidden-import=playwright_stealth main.py

    - name: Show dist folder contents
      run: dir dist

    - name: Upload executable artifact
      uses: actions/upload-artifact@v4
      with:
        name: python-executable
        path: dist\main.exe
